.underline-css 
{
position: relative;
display: inline-block; 
}

.underline-css::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #3b82f6;
    transition: all 0.3s ease;
}

.underline-css:hover::after
{
    width: 100%;
}

@keyframes slideIn
{
  0% {opacity: 0;transform: translateY(50px); }
  50% {opacity: 0.3;transform: translateY(40px); }
  60% {opacity: 0.4;transform: translateY(30px); }
  70% {opacity: 0.5;transform: translateY(20px); }
  80% {opacity: 0.6;transform: translateY(10px); }
  90% {opacity: 0.7;transform: translateY(10px); }
  100% {opacity: 1;transform: translateY(0); }
}

#about, #skills, #projects, #education, #contact
{
  animation: slideIn 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}